extends ../layout.pug

block content
    .container
        .row
            .col-sm-6.col-sm-offset-3
                h1 Reset Password
                -if(error_messages != "")
                    .alert.alert-danger= error_messages
                -if(success_messages !="")
                    .alert.alert-success= success_messages
                form(method="post")
                    .form-group
                        label(for="password") Password
                        input.form-control(type="password", name="password" required autofocus)
                    
                    .form-group
                        label(for="confirm") Confirm Password
                        input.form-control(type="password", name="confirm" required )
                    button.btn.btn-primary(type="submit") Reset
